[Desktop Entry]
Name=goland
Exec=/home/lanzinho/Downloads/goland-2024.3/GoLand-2024.3/bingoland
Icon=goland.svg
Type=Application
Categories=Application;
